<h3>Quản lý thời khóa biểu</h3>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên lớp</th>
            <th scope="col">Giáo viên chủ nhiệm</th>
            <th scope="col">Thời khóa biểu</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>10A1</td>
            <td>Nguyễn Văn A</td>
            <td>
                <button type="button" class="btn btn-primary">
                    <a [routerLink]="['/chi-tiet-thoi-khoa-bieu']">Chi tiết thời khóa biểu</a>
                </button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>10A2</td>
            <td>Nguyễn Văn B</td>
            <td>
                <button type="button" class="btn btn-primary">
                    <a [routerLink]="['/chi-tiet-thoi-khoa-bieu']">Chi tiết thời khóa biểu</a>
                </button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>10A3</td>
            <td>Nguyễn Văn C</td>
            <td>
                <button type="button" class="btn btn-primary">
                    <a [routerLink]="['/chi-tiet-thoi-khoa-bieu']">Chi tiết thời khóa biểu</a>
                </button>
            </td>
          </tr>
        </tbody>
    </table>
</div>