.tableLopHoc {
    margin: 0 20px 0 20px;
}

.body {
    margin: 0 auto;
    border: 1px solid #e1e1ea;
}

.btn-success {
    color: white;
    text-decoration: none;
}

#giaoVien .btn-success {
    margin-left: 20px;
}

.btn-success:hover {
    color: white;
}

div.row {
    margin-top: 10px;
}

div.row div.label {
    padding-right: 0;
    margin-top: 5px;
}

.btn-danger {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.btn-danger:hover {
    color: white;
}

.pagination-bar {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
}
  
.tabset .tab-panel {
    display: none;
}
  
.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
}
  
.tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 15px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
}

.tabset > label:hover,
.tabset > input:focus + label {
    color: #06c;
}
  
.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
    background: #06c;
}   
  
.tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}
  
.tab-panel {
    border-top: 1px solid #ccc;
}
  
*,
*:before,
*:after {
    box-sizing: border-box;
}
  
body {
    padding: 30px;
}
