<div class="body">
  <div class="tableLopHoc">
    <div class="tabset">
      <!-- Tab 1 -->
      <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
      <label for="tab1">Giáo viên</label>
      <!-- Tab 2 -->
      <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
      <label for="tab2">Học sinh</label>
      
      <div class="tab-panels">
        <section id="giaoVien" class="tab-panel">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Mã lớp</th>
                <th scope="col">Tên lớp</th>
                <th scope="col">Mã môn học</th>
                <th scope="col">Môn học</th>
                <th scope="col">Giáo viên bộ môn</th>
                <th scope="col">Hành động</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mh of listMonHoc" [ngStyle]="{'display': mh.maMh != 1 ? '' : 'none'}">
                <td>{{ lop.maLop }}</td>
                <td>{{ lop.tenLop }}</td>
                <td>{{ mh.maMh }}</td>
                <td>{{ mh.tenMh }}</td>
                <td>
                  <select class="form-control" id="giaoVienBoMon{{ mh.maMh }}">
                    <option></option>
                    <option 
                      *ngFor="let gv of listGiaoVien" 
                      [ngStyle]="{'display': gv.maMh == mh.maMh ? 'block' : 'none'}"
                      value="{{ gv.maGv }}">{{ gv.tenGv }}</option>
                  </select>
                </td>
                <td>
                  <a class="btn btn-success" (click)="openModalUpdateGiaoVien(mh.maMh)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
        <section id="hocSinh" class="tab-panel">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Mã học sinh</th>
                <th scope="col">Tên học sinh</th>
                <th scope="col">Lớp</th>
                <th scope="col">Giới tính</th>        
                <th scope="col">Hành động</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hs of listHocSinh.data; index as i">
                <td>{{ hs.maHs }}</td>
                <td>{{ hs.tenHs }}</td>
                <td>{{ hs.tenLop }}</td>
                <td>{{ hs.gioiTinh }}</td>
                <td>
                  <a class="btn btn-danger" (click)="openModalDeleteHocSinh(i)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- Pagination -->
          <div class="pagination-bar">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="javascript:void(0)" (click)="danhSachHocSinhTheoLopTruoc()">Trước</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">{{ listHocSinh.page }}</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)" (click)="danhSachHocSinhTheoLopSau()">Sau</a></li>
              </ul>
            </nav>
          </div>
          <!-- End Pagination -->
        </section>
      </div>
    </div>
  </div>
</div>

<!-- Modal Update Giao Vien Bo Mon -->
<div class="modal fade" id="modalUpdateGiaoVien" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cập nhật giáo viên bộ môn</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có muốn cập nhật giáo viên bộ môn của lớp này không ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button id="capNhatBtnGiaoVien" type="button" class="btn btn-success" style="margin-left: 0;">Cập nhật</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

<!-- Modal Delete Hoc Sinh -->
<div class="modal fade" id="modalDeleteHocSinh" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa học sinh</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa học sinh ra khỏi lớp này không ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button id="deleteBtnHocSinh" type="button" class="btn btn-danger">Xóa</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->