/* Bordered form */
form {
    margin: 0 auto;
    width: 50%;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
}

/* Add padding to containers */
.container {
    padding: 16px;
}

.container h3 {
    text-align: center;
}

.container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
opacity: 0.8;
}
