<div class="body">
  <div>
    <nav class="navbar navbar-light bg-light">
      <div class="navThoiKhoaBieu">
        <div class="thoiKhoaBieu">
          <a class="btn btn-outline-dark" href="javascript:window.location.href=window.location.href">
            <i class="fa fa-table fa-lg" aria-hidden="true"></i> {{ giaoVien.tenGv}}
          </a>
        </div>
        <div class="capNhatBtnTKB">
          <button type="button" class="btn btn-outline-success" (click)="openModalCapNhatTKB()">
            <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i> Cập nhật
          </button>
        </div>
      </div>
    </nav>
  </div>
  <div class="tableTKBGiaoVien table-responsive-lg">
    <table class="table">
      <thead>
        <tr>
          <th>Tiết / Thứ</th>
          <th *ngFor="let ng of listNgayHoc">{{ ng.tenNgay }}</th>
        </tr>
      </thead>
      <tbody>
        <tr id="listTietHoc-{{ t.maTiet }}" *ngFor="let t of listTietHoc">
          <th>
            <span>Tiết {{ t.maTiet }}<br />({{ t.thoiGian }})</span>
          </th>
          <td>
            <select class="form-control">
              <option 
                *ngFor="let l of listLopHoc"
                [ngStyle]="{'display': danhSachMaLopTheoGV.includes(l.maLop) ? '' : 'none'}"
                id="{{ l.maLop }}-{{ t.maTiet }}-1">{{ l.tenLop }}</option>
            </select>
          </td>
          <td>
            <select class="form-control">
              <option 
                *ngFor="let l of listLopHoc"
                [ngStyle]="{'display': danhSachMaLopTheoGV.includes(l.maLop) ? '' : 'none'}"
                id="{{ l.maLop }}-{{ t.maTiet }}-2">{{ l.tenLop }}</option>
            </select>
          </td>
          <td>
            <select class="form-control">
              <option 
                *ngFor="let l of listLopHoc"
                [ngStyle]="{'display': danhSachMaLopTheoGV.includes(l.maLop) ? '' : 'none'}"
                id="{{ l.maLop }}-{{ t.maTiet }}-3">{{ l.tenLop }}</option>
            </select>
          </td>
          <td>
            <select class="form-control">
              <option 
                *ngFor="let l of listLopHoc"
                [ngStyle]="{'display': danhSachMaLopTheoGV.includes(l.maLop) ? '' : 'none'}"
                id="{{ l.maLop }}-{{ t.maTiet }}-4">{{ l.tenLop }}</option>
            </select>
          </td>
          <td>
            <select class="form-control">
              <option 
                *ngFor="let l of listLopHoc"
                [ngStyle]="{'display': danhSachMaLopTheoGV.includes(l.maLop) ? '' : 'none'}"
                id="{{ l.maLop }}-{{ t.maTiet }}-5">{{ l.tenLop }}</option>
            </select>
          </td>
          <td>
            <select class="form-control">
              <option 
                *ngFor="let l of listLopHoc"
                [ngStyle]="{'display': danhSachMaLopTheoGV.includes(l.maLop) ? '' : 'none'}"
                id="{{ l.maLop }}-{{ t.maTiet }}-6">{{ l.tenLop }}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal Cap Nhat Thoi Khoa Bieu -->
<div class="modal fade" id="modalCapNhatTKB" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cập nhật thời khóa biểu</h5>
      </div>
      <div class="modal-body" style="text-align: center;">
        Bạn có muốn cập nhật thời khóa biểu của giáo viên này ko ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="capNhatDanhSachThoiKhoaBieu()">Cập nhật</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

