.tableTKBGiaoVien {
    margin: 50px 20px 0 20px;
}

.body {
    margin: 0 auto;
    border: 1px solid #e1e1ea;
}

tbody td, tr {
    text-align: center;
}

#listTietHoc-5 {
    height: 120px;
}

tbody th {
    width: 15%;
}

.navbar-light {
    margin-bottom: 30px;
}

.thoiKhoaBieu {
    display: inline;
}

.capNhatBtnTKB {
    display: inline;
    margin-left: 10px;
}

.lamMoiBtnTKB {
    display: inline;
    margin-left: 10px;
}