<a [routerLink]="['/quan-ly-hoc-sinh']">
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        Quản lý học sinh
      </p>
    </div>
  </div>
</a>
<a [routerLink]="['/quan-ly-lop-hoc']">
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        Quản lý lớp học
      </p>
    </div>
  </div>
</a>
<a [routerLink]="['/quan-ly-giao-vien']">
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        Quản lý giáo viên
      </p>
    </div>
  </div>
</a>
<a [routerLink]="['/quan-ly-thoi-khoa-bieu']">
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        Quản lý thời khóa biểu
      </p>
    </div>
  </div>
</a>
