<a [routerLink]="['/quan-ly-hoc-sinh']">
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        Quản lý học sinh
      </p>
    </div>
  </div>
</a>
<a [routerLink]="['/quan-ly-giao-vien']">
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        Quản lý giáo viên
      </p>
    </div>
  </div>
</a>
<a [routerLink]="['/quan-ly-tkb-theo-lop']">
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        Quản lý thời khóa biểu lớp học
      </p>
    </div>
  </div>
</a>
<a [routerLink]="['/quan-ly-tkb-theo-giao-vien']">
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        Quản lý thời khóa biểu giáo viên
      </p>
    </div>
  </div>
</a>
<a [routerLink]="['/quan-ly-lop-hoc']">
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        Quản lý lớp học
      </p>
    </div>
  </div>
</a>
<a [routerLink]="['/quan-ly-tai-khoan']">
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        Quản lý tài khoản
      </p>
    </div>
  </div>
</a>
