.container {
    margin-top: 50px;  
}

.body {
    margin-bottom: 50px;
    border: 1px solid #e1e1ea;
    border-radius: 10px;
    box-shadow: 18px 20px 60px -9px rgba(0,0,0,0.75);
}

tbody td, tr {
    text-align: center;
}

#listTietHoc-5 {
    height: 100px;
}