<h3>Thời khóa biểu</h3>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Tiết/Thứ</th>
            <th scope="col">T2</th>
            <th scope="col">T3</th>
            <th scope="col">T4</th>
            <th scope="col">T5</th>
            <th scope="col">T6</th>
            <th scope="col">T7</th>
            <th scope="col">CN</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1 (7 đến 7:45)</th>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
          </tr>
          <tr>
            <th scope="row">2 (7:45 đến 8:30)</th>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
          </tr>
          <tr>
            <th scope="row">3 (8:30 đến 9)</th>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
          </tr>
        </tbody>
    </table>
</div>
